.shopTitle{
    padding: 25px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.products{
    text-align: center;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,auto);
}
.product{
    border-radius: 10px;
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.471);
    margin: 50px 45px;
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}
.img{
    height: 310px;
}
.product img {
    width: 270px;
    border-radius: 15px;
}
.product .title{
    font-size: large;
    font-weight: bolder;
}
.product .price{
    font-weight: bold;   
}
.script {
    padding: 15px 0;
}
.add{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    border-radius:40px ;
    border: solid black 2px;
    background-color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 35px;
    cursor: pointer;

}
.add:hover{
    background-color: black;
    color: white;
}
@media (max-width:1400px) {
    .products{
        grid-template-columns: auto auto auto;
    }
    .shopTitle{
        font-size: larger;
    }
}
@media (max-width:1100px) {
    .products{
        grid-template-columns: auto auto;
    }
    .shopTitle{
        font-size: 28px;
    }
}
@media (max-width:750px) {
    .product{
        width: 150px;
        margin: 15px 10px;
    }
    .product img{
        width: 130px;
    }
    .shopTitle{
        font-size: 24px;
        text-align: center;
    }
}